<!doctype html>
<html lang="en">

<head>
    <meta property="og:title" content="얼그레이's 쇼핑몰"/>
    <meta property="og:description" content="갤럭시워치4 안팝니다."/>
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpg') }}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>스파르타코딩클럽 | 부트스트랩 연습하기</title>
    <script>
        $(document).ready(function () {
            q1();
            q3();
        });

        function q1() {
            $.ajax({
                type: "GET",
                url: "http://spartacodingclub.shop/sparta_api/rate",
                data: {},
                success: function (response) {
                    let rate_ = response['rate']
                    console.log(rate_)

                    let temp_html = `<p class="blue">달러/원 환율: ${rate_}</p>`

                    $('#rate').append(temp_html);
                }
            })
        }

        function q2() {
            let name = $('#name').val()
            let amount = $('#amount').val()
            let address = $('#address').val()
            let number = $('#number').val()

            console.log(name, amount, address, number)

            $.ajax({
                type: "POST",
                url: "/order",
                data: {name_give: name, amount_give: amount, address_give: address, number_give: number},
                success: function (response) {
                    alert(response["msg"])
                }
            })
        }

        function q3() {
            $.ajax({
                type: "GET",
                url: "/order",
                data: {},
                success: function (response) {
                    let orders = response['all_orders']
                    for (let i = 0; i < orders.length; i++) {
                        let name = orders[i]['name']
                        let address = orders[i]['address']
                        let amount = orders[i]['amount']
                        let number = orders[i]['number']

                        let temp_html = `<tr>
                                            <th scope="row">${name}</th>
                                            <td>${amount}</td>
                                            <td>${address}</td>
                                            <td>${number}</td>
                                        </tr>`
                        $('#table_box').append(temp_html)
                    }
                }
            })
        }
    </script>
    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        .blue {
            color: blue;
            font-weight: bold;
        }

        .wrap {
            padding-top: 70px;
            width: 600px;
            margin: auto;
        }

        .price {
            font-size: 17px;

        }

        .btn_pos {
            width: 130px;
            margin: auto;
            display: block;
        }

        .imgbox123 {
            width: 600px;
            height: 300px;
            background-image: url("https://img.etnews.com/news/article/2021/07/15/cms_temp_article_15112327094147.jpg");
            background-size: cover;
            background-position: center;
        }
    </style>
</head>

<body>
<div class="wrap">
    <div class="imgbox123">

    </div>
    <div>
        <h2>갤럭시워치4 팝니다.<span class="price">가격: 25만원</span></h2>
        <p id="rate">갤럭시워치 가지고싶습니다. 사주세요.</p>

    </div>
    <div>
        <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">주문자 이름</span>
                </div>
                <input type="text" class="form-control" id="name" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="amount">수량</label>
                </div>
                <select class="custom-select" id="amount">
                    <option selected>-- 수량을 선택하세요 --</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">주소</span>
                </div>
                <input type="text" id="address" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">전화번호</span>
                </div>
                <input type="text" id="number" class="form-control" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
            </div>
            <div class="btn_pos">
                <button onclick="q2()" type="submit" class="btn btn-primary">주문하기</button>
            </div>

        </form>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">이름</th>
            <th scope="col">수량</th>
            <th scope="col">주소</th>
            <th scope="col">전화번호</th>
        </tr>
        </thead>
        <tbody id="table_box">
        <tr>
            <th scope="row">홍길동</th>
            <td>1</td>
            <td>서울시 동작구</td>
            <td>010-1234-5678</td>
        </tr>

        </tbody>
    </table>
</div>

</body>

</html>